# sudo systemctl enable mealie-backup.timer
# sudo systemctl start mealie-backup.timer

[Unit]
Description=Run Mealie-Backup Docker Compose Weekly

[Timer]
OnCalendar=Weekly
Persistent=true
Unit=mealie-backup.service

[Install]
WantedBy=timers.target