# Edit WorkingDirectory path in ./mealie-backup.service then run ./systemd-setup.sh

[Unit]
Description=Run Mealie-Backup Docker Compose Weekly

[Timer]
OnCalendar=Weekly
Persistent=true
Unit=mealie-backup.service

[Install]
WantedBy=timers.target